canvas
{
	/*width:550px;
	height:300px;*/
	border:1px solid black;
	margin:auto auto;
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position:relative;
}
#theStickFigure
{
	width:55px;
	height:111px;
	position:absolute;
}
.dpadSprite
{
	width:;
}


.fullscreen-button
{
	width:100px
	height:auto;
	background:blue;
	color:white;
	font-size:20px;
	text-align:center;
	position:fixed;
	bottom:0;
	left:300px;
}

@media screen and (orientation:portrait) {
    .warning
    {
    	display:block;
    	width:100px;
    	height:!00px;
    	font-size:28px;
    	color:red;
    }
    #viewport
    {
    	display:none;
    }
    .bpad-container
    {
    	display:none;
    }
}

@media screen and (orientation:landscape) {
	.warning
	{
		display:none;
	}
	#viewport
	{
		display:block;
	}
	.bpad-container
	{
		display:block;
	}
    // CSS applied when the device is in landscape mode
}